<p>
  <strong><%= comment.user.email %></strong>
  <%= comment.content %>
</p>

<% if comment.user == current_user %>
  <nav>
    <%= link_to 'Edit', edit_photo_comment_path(photo, comment) %>
    <%= link_to 'Delete', [photo, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  </nav>
<% end %>
